In [1]:
import os

import pandas as pd
import geopandas as gpd

In [2]:
# Define paths for use later in notebook

REPO_ROOT = os.path.abspath(os.path.join(os.getcwd(), ".."))

DATA_RAW = os.path.join(REPO_ROOT, "data", "raw")
DATA_PROCESSED = os.path.join(REPO_ROOT, "data", "processed")

PATH_BUILDING_CURRENT_ZIP = os.path.join(
    DATA_RAW, "building_current", "nyc_building_footprints_current.zip"
)

PATH_BUILDING_HISTORIC_ZIP = os.path.join(
    DATA_RAW, "building_historic", "nyc_building_footprints_historic.zip"
)

PATH_STORMWATER_GDB = os.path.join(
    DATA_RAW, "stormwater", "stormwater_moderate_current.gdb"
)

In [3]:
# Reusable function to inspect a GeoDataFrame
def inspect_geodf(gdf: gpd.GeoDataFrame, name: str, show_head: int = 3, max_value_counts: int = 5):
    print("=" * 80)
    print(f"DATASET: {name}")
    print("=" * 80)
    print(f"Type: {type(gdf)}")
    print(f"Number of rows: {len(gdf):,}")
    print(f"Number of columns: {gdf.shape[1]}")
    print("\nCRS:", gdf.crs)
    
    # Geometry type(s)
    geom_types = gdf.geom_type.value_counts()
    print("Geometry types:")
    print(geom_types.head(10))
    
    print("Columns and data types:")
    print(gdf.dtypes)
    
    print("First 3:")
    display(gdf.head(show_head))
    
    print("Null counts (top 15):")
    null_counts = gdf.isna().sum().sort_values(ascending=False)
    display(null_counts.head(15))

In [4]:
# Load building footprints from zipped shapefiles
building_current_gdf = gpd.read_file(f"zip://{PATH_BUILDING_CURRENT_ZIP}")
building_historic_gdf = gpd.read_file(f"zip://{PATH_BUILDING_HISTORIC_ZIP}")

# Load stormwater layer from File Geodatabase
STORMWATER_LAYER_NAME = (
    "NYC_Stormwater_Flood_Map_Moderate_Flood_2_13_inches_per_hr_with_Current_Sea_Levels"
)

stormwater_gdf = gpd.read_file(
    PATH_STORMWATER_GDB,
    layer=STORMWATER_LAYER_NAME
)

print("Loaded GeoDataFrames:")
print("  building_current:", building_current_gdf.shape)
print("  building_historic:", building_historic_gdf.shape)
print("  stormwater:", stormwater_gdf.shape)

c:\Code\NYCDSA\nyc-urban-built-floodzone-planimetrics\.venv\Lib\site-packages\pyogrio\raw.py:200: RuntimeWarning: organizePolygons() received a polygon with more than 100 parts. The processing may be really slow.  You can skip the processing by setting METHOD=SKIP, or only make it analyze counter-clock wise parts by setting METHOD=ONLY_CCW if you can assume that the outline of holes is counter-clock wise defined
  return ogr_read(

Loaded GeoDataFrames:
  building_current: (1082999, 17)
  building_historic: (49059, 18)
  stormwater: (2, 4)

In [5]:
inspect_geodf(building_current_gdf, "building_current")

================================================================================
DATASET: building_current
================================================================================
Type: <class 'geopandas.geodataframe.GeoDataFrame'>
Number of rows: 1,082,999
Number of columns: 17

CRS: EPSG:4326
Geometry types:
Polygon    1082999
Name: count, dtype: int64
Columns and data types:
name                  object
bin                  float64
doitt_id             float64
shape_area           float64
base_bbl              object
objectid             float64
constructi           float64
feature_co           float64
geom_sourc            object
ground_ele           float64
height_roo           float64
date_last_    datetime64[ms]
time_last_            object
last_statu            object
mappluto_b            object
shape_leng           float64
geometry            geometry
dtype: object
First 3:

,name,bin,doitt_id,shape_area,base_bbl,objectid,constructi,feature_co,geom_sourc,ground_ele,height_roo,date_last_,time_last_,last_statu,mappluto_b,shape_leng,geometry
0,None,4451699.0,321944.0,177.746094,4075320028,507357.0,1950.0,2100.0,Other (Manual),93.0,27.000000,2017-08-22,19:18:38.000,Constructed,4075327501,59.004939,"POLYGON ((-73.75416 40.7542, -73.75402 40.7542..."
1,None,4558952.0,255026.0,34.742188,4105630045,137879.0,1930.0,5110.0,Photogrammetric,72.0,13.060000,2017-08-17,16:20:43.000,Constructed,4105630045,24.548387,"POLYGON ((-73.75283 40.71895, -73.75289 40.718..."
2,None,3176483.0,759005.0,180.890625,3066450044,982953.0,1915.0,2100.0,Photogrammetric,18.0,36.761589,2017-08-22,15:37:34.000,Constructed,3066450044,61.475641,"POLYGON ((-73.98372 40.60334, -73.98381 40.603..."

Null counts (top 15):

name          1080751
constructi      10120
ground_ele        554
last_statu        383
geom_sourc        347
base_bbl            0
shape_area          0
bin                 0
doitt_id            0
feature_co          0
objectid            0
date_last_          0
height_roo          0
time_last_          0
mappluto_b          0
dtype: int64

In [6]:
inspect_geodf(building_historic_gdf, "building_historic")

================================================================================
DATASET: building_historic
================================================================================
Type: <class 'geopandas.geodataframe.GeoDataFrame'>
Number of rows: 49,059
Number of columns: 18

CRS: EPSG:4326
Geometry types:
Polygon    49059
Name: count, dtype: int64
Columns and data types:
name                  object
bin                  float64
doitt_id             float64
shape_area           float64
base_bbl              object
objectid             float64
constructi           float64
demolition           float64
feature_co           float64
geom_sourc            object
ground_ele           float64
height_roo           float64
date_last_    datetime64[ms]
time_last_            object
last_statu            object
mappluto_b            object
shape_leng           float64
geometry            geometry
dtype: object
First 3:

,name,bin,doitt_id,shape_area,base_bbl,objectid,constructi,demolition,feature_co,geom_sourc,ground_ele,height_roo,date_last_,time_last_,last_statu,mappluto_b,shape_leng,geometry
0,None,4106391.0,0.0,185.167969,4046860009,4023.0,1925.0,2004.0,NaN,Photogrammetric,NaN,NaN,2004-08-16,00:00:00.000,Demolition,None,62.950159,"POLYGON ((-73.8134 40.78279, -73.8135 40.7828,..."
1,None,4005284.0,618591.0,2466.468750,4004590005,1243.0,2008.0,2007.0,NaN,Photogrammetric,NaN,16.0,2009-04-30,00:00:00.000,Demolition,None,214.342607,"POLYGON ((-73.94719 40.75209, -73.94725 40.752..."
2,None,2086821.0,846184.0,310.453125,2032040029,5824.0,0.0,2004.0,NaN,Photogrammetric,NaN,NaN,2007-09-04,00:00:00.000,Demolition,None,73.029586,"POLYGON ((-73.90042 40.86605, -73.9006 40.8661..."

Null counts (top 15):

name          45438
mappluto_b    33596
ground_ele    30337
feature_co    30190
height_roo    19876
demolition     2954
geom_sourc     1892
constructi     1372
base_bbl         46
bin              23
last_statu       22
shape_area        0
objectid          0
doitt_id          0
time_last_        0
dtype: int64

In [7]:
inspect_geodf(stormwater_gdf, "stormwater")

================================================================================
DATASET: stormwater
================================================================================
Type: <class 'geopandas.geodataframe.GeoDataFrame'>
Number of rows: 2
Number of columns: 4

CRS: EPSG:2263
Geometry types:
MultiPolygon    2
Name: count, dtype: int64
Columns and data types:
Flooding_Category       int16
Shape_Length          float64
Shape_Area            float64
geometry             geometry
dtype: object
First 3:

,Flooding_Category,Shape_Length,Shape_Area,geometry
0,1,6.379481e+06,7.807795e+07,"MULTIPOLYGON Z (((917257.748 120888.12 0, 9172..."
1,2,2.585630e+06,4.012622e+07,"MULTIPOLYGON Z (((917241.716 120860.909 0, 917..."

Null counts (top 15):

Flooding_Category    0
Shape_Length         0
Shape_Area           0
geometry             0
dtype: int64

In [ ]:
# Super important to check this, we need epsg 2263 to measure area reliably (not using lat/lon)
print("CRS for building_current:", building_current_gdf.crs)
print("CRS for building_historic:", building_historic_gdf.crs)
print("CRS for stormwater:", stormwater_gdf.crs)

CRS for building_current: EPSG:4326
CRS for building_historic: EPSG:4326
CRS for stormwater: EPSG:2263

In [9]:
TARGET_CRS = "EPSG:2263"

building_current_2263 = building_current_gdf.to_crs(TARGET_CRS)
building_historic_2263 = building_historic_gdf.to_crs(TARGET_CRS)

# stormwater already in 2263
stormwater_2263 = stormwater_gdf

print("CRS for building_current_2263:", building_current_2263.crs)
print("CRS for building_historic_2263:", building_historic_2263.crs)
print("CRS for stormwater_2263:", stormwater_2263.crs)

CRS for building_current_2263: EPSG:2263
CRS for building_historic_2263: EPSG:2263
CRS for stormwater_2263: EPSG:2263

In [ ]:
# Unsure what shape_area is measured in, let's compute our own area in sqft
building_current_2263["geom_area_sqft"] = building_current_2263.geometry.area
building_historic_2263["geom_area_sqft"] = building_historic_2263.geometry.area

building_current_2263[["shape_area", "geom_area_sqft"]].head()

   shape_area  geom_area_sqft
0  177.746094     1096.759439
1   34.742188      214.631781
2  180.890625     1121.202926
3  106.035156      656.015069
4  217.175781     1334.183950

In [ ]:
# Compare how the datasets matchup, to confirm if they mostly cover same space

for name, gdf in [
    ("building_current_2263", building_current_2263),
    ("building_historic_2263", building_historic_2263),
    ("stormwater_2263", stormwater_2263),
]:
    minx, miny, maxx, maxy = gdf.total_bounds
    print(f"{name} bounds:")
    print(f"  minx={minx:.2f}, miny={miny:.2f}, maxx={maxx:.2f}, maxy={maxy:.2f}\n")

building_current_2263 bounds:
  minx=913201.22, miny=120963.25, maxx=1067366.79, maxy=272672.09

building_historic_2263 bounds:
  minx=913437.49, miny=120953.84, maxx=1067462.88, maxy=271841.46

stormwater_2263 bounds:
  minx=913848.42, miny=120828.05, maxx=1065777.82, maxy=271240.93

In [ ]:
# Random sample of buildings to test the join logic
sample_size = 10000
building_sample = building_current_2263.sample(
    min(sample_size, len(building_current_2263)), random_state=42
)

# Sanity test on spatial join - which sampled buildings fall inside stormwater polygons
joined_sample = gpd.sjoin(
    building_sample,
    stormwater_2263[["Flooding_Category", "geometry"]],
    how="left",
    predicate="intersects",
)

print("Sample size:", len(building_sample))
print("Joined rows:", len(joined_sample))

print("Flooding category value counts on sample:")
print(joined_sample["Flooding_Category"].value_counts(dropna=False))

# Adding note that this will take very long to run, in the future of other notebooks use centroid points
# and join on "within" predicates instead of "intersects" which is much faster and also ensures we don't have overlaps
# where polygons intersect multiple buildings, the results will showcase this

Sample size: 10000
Joined rows: 10053
Flooding category value counts on sample:
Flooding_Category
NaN    9778
1.0     179
2.0      96
Name: count, dtype: int64

In [ ]:
DATA_PROCESSED = os.path.join("..", "data", "processed")

building_current_2263.to_parquet(os.path.join(DATA_PROCESSED, "building_current_2263.parquet"))
print("Saved building_current_2263.parquet")
building_historic_2263.to_parquet(os.path.join(DATA_PROCESSED, "building_historic_2263.parquet"))
print("Saved building_historic_2263.parquet")
stormwater_2263.to_parquet(os.path.join(DATA_PROCESSED, "stormwater_2263.parquet"))
print("Saved stormwater_2263.parquet")